In [1]:
import pandas as pd

In [3]:
jobs=pd.read_csv("/Users/prashantsagar/Desktop/sih_data/FreelancingJobs.csv")
jobs

,jobID,title,post,tag,company,place,job/interview,Unnamed: 7
0,1,Development,Agile Development,Developer,Hooli,Delhi,job,NaN
1,2,Development,AI/RPA development,Developer,Pied Piper,Mumbai,job,NaN
2,3,Development,Amazon App Development,Developer,FLY,Kolkata,job,NaN
3,4,Development,Backend Development,Backend Developer,Ali Baba,Bangalore,internship,NaN
4,5,Development,BIRT Development,Backend Developer,Amazon,Hyderabad,internship,NaN
...,...,...,...,...,...,...,...,...
799,800,Development,Telemarketing,Marketing,Sheetal,Meerut,job,NaN
800,801,Development,Twitter Marketing,Social Media | Marketing,Ali baba,Chennai,job,NaN
801,802,Manager,Viral Marketing,Marketing,Hooli,Ahmedabad,job,NaN
802,803,Manager,Visual Merchandising,Marketing,Go ibio,Vadodara,internship,NaN
803,804,Manager,WooCommerce,Marketing,Capegemini,Chandigarh,job,NaN

In [4]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 8 columns):
jobID            804 non-null int64
title            804 non-null object
post             804 non-null object
tag              804 non-null object
company          804 non-null object
place            804 non-null object
job/interview    804 non-null object
Unnamed: 7       0 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 50.4+ KB

In [7]:
jobs.drop(["jobID","Unnamed: 7"],axis="columns",inplace=True)

In [8]:
jobs.head()

,title,post,tag,company,place,job/interview
0,Development,Agile Development,Developer,Hooli,Delhi,job
1,Development,AI/RPA development,Developer,Pied Piper,Mumbai,job
2,Development,Amazon App Development,Developer,FLY,Kolkata,job
3,Development,Backend Development,Backend Developer,Ali Baba,Bangalore,internship
4,Development,BIRT Development,Backend Developer,Amazon,Hyderabad,internship

In [10]:
jobs.rename(columns={'post':'Post','tag':'Tag','company': 'Company','place':'Place','job/interview':'Purpose','title':'Title'},inplace=True)

In [17]:
jobs.set_index(keys=['Title','Post'],inplace= True)

In [21]:
jobs.head(20)

                                                        Tag     Company  \
Title       Post
Development Agile Development                     Developer       Hooli
            AI/RPA development                    Developer  Pied Piper
            Amazon App Development                Developer         FLY
            Backend Development           Backend Developer    Ali Baba
            BIRT Development              Backend Developer      Amazon
            Cloud Development             Backend Developer      Google
            Database Development          Backend Developer       Hooli
            Development Operations        Backend Developer  Pied Piper
            Facebook Development          Backend Developer         FLY
            Frontend Development         Frontend Developer    Ali Baba
            Game Development              Backend Developer      Amazon
            iOS Development               Backend Developer      Google
            Julia Development             Backend Developer       Hooli
            Mobile Development            Backend Developer  Pied Piper
            Sales force App Development   Backend Developer         FLY
            Scrum Development             Backend Developer    Ali Baba
            Shopify Development          Frontend Developer      Amazon
            Software Development          Backend Developer      Google
            Web Development               Backend Developer       Hooli
            Mobile App Development        Backend Developer  Pied Piper

                                              Place     Purpose
Title       Post
Development Agile Development                 Delhi         job
            AI/RPA development               Mumbai         job
            Amazon App Development          Kolkata         job
            Backend Development           Bangalore  internship
            BIRT Development              Hyderabad  internship
            Cloud Development             Ahmadabad         job
            Database Development               Pune  internship
            Development Operations            Surat  internship
            Facebook Development             Jaipur         job
            Frontend Development             Indore         job
            Game Development                   Agra  internship
            iOS Development                  Meerut         job
            Julia Development                Rajkot         job
            Mobile Development               Bhopal  internship
            Sales force App Development      Mumbai         job
            Scrum Development             Ghaziabad         job
            Shopify Development               Noida  internship
            Software Development         Chandigarh         job
            Web Development                  Kanpur  internship
            Mobile App Development          Lucknow         job

In [33]:
jobs.dropna(inplace=True)

In [24]:
jobs["Purpose"].astype("category",astype=True)

Title        Post
Development  Agile Development                job
             AI/RPA development               job
             Amazon App Development           job
             Backend Development       internship
             BIRT Development          internship
                                          ...
             Telemarketing                    job
             Twitter Marketing                job
Manager      Viral Marketing                  job
             Visual Merchandising      internship
             WooCommerce                      job
Name: Purpose, Length: 804, dtype: category
Categories (2, object): [internship, job]

In [26]:
jobs["Tag"].astype("category",astype=True)

Title        Post
Development  Agile Development                         Developer
             AI/RPA development                        Developer
             Amazon App Development                    Developer
             Backend Development               Backend Developer
             BIRT Development                  Backend Developer
                                                 ...
             Telemarketing                             Marketing
             Twitter Marketing         Social Media |  Marketing
Manager      Viral Marketing                           Marketing
             Visual Merchandising                      Marketing
             WooCommerce                               Marketing
Name: Tag, Length: 804, dtype: category
Categories (75, object): [Accounts, Administration, Airline, Analysis, ..., budget, legal, salesman, service]

In [35]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 804 entries, (Development, Agile Development) to (Manager, WooCommerce)
Data columns (total 4 columns):
Tag        804 non-null object
Company    804 non-null object
Place      804 non-null object
Purpose    804 non-null object
dtypes: object(4)
memory usage: 33.9+ KB